.App {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonGroup {
    margin: 20px 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.buttonGroup button {
    padding: 12px 20px;
    border: 1px;
    border-radius: 30px;
}
.buttonGroup button:disabled {
    color: darkgray;
}
.buttonGroup button:hover {
    background-color: #ccc;
}
.buttonGroup button:hover:disabled {
    background-color: rgb(250, 250, 250);
    cursor: not-allowed;
}
